<html>
    <head>
 
    </head>
    <body>
        <div class="ticket">
              <div>
         <center> <img alt="" src="log.jpeg" height="90px" width="150px" ></center>
        </div>

 <div>
     <div style="font-size:x-small; line-height: 0px;">
    <center><p><strong>RFC:</strong> GAVF871219GY8</p></center>
    <center><p><strong>Fecha:</strong>--Algodefecha--</p></center>
    <center><p><strong>Ticket No.</strong>--123--</p></center>
    <center><p>FerreMax El Boulevard </p></center>
    <center><p>Pino Suarez Local 3</p></center>
    <center><p><strong>Vendedor:</strong>--Empleado--</p></center>
    </div>

   <center> 
     <table class=" tabla-borderless table-striped" style="width: 155px;" >
  <thead style="font-size: x-small;">
    <tr>
      <th>Cant</th>
      <th>Descripcion</th>
      <th>Precio</th>
      <th>Importe</th>
    </tr>
  </thead>
  <tbody style="font-size: x-small;">
    <tr>
      <td>1</td>
      <td>Tornillos de media pulgada, color rojo</td>
      <td>26.13</td>
      <td>26.13</td>
    </tr>
      </tbody>
</table>
</center>

<div style="font-size:x-small; line-height: 1px;" align="right">
<p>Total Neto <u>$30.00</u></p>
<p>Importe en pesos<u>$30.00</u></p>
<br>
<p>Efectivo pesos<u>$30.00</u></p>
<p>Cambio pesos<u>$30.00</u></p>
</div>
<div style="font-size:x-small; line-height: 1px;" align="right">
<center><p>Computadora:<strong>Ejemplo</strong></p></center>
<center><p>Folio Interno: Ejemplo</p></center>
<center><p><strong>Gracias Por Su Compra</strong></p></center>
 </div>


</div>

        </div>
    </body>
    <style>
      * {
    font-size: 12px;
    font-family: 'Times New Roman';
}

td,
th,
tr,
table {
    border-top: 1px solid black;
    border-collapse: collapse;
}

td.producto,
th.producto {
    width: 75px;
    max-width: 75px;
}

td.cantidad,
th.cantidad {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}

td.precio,
th.precio {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}

.centrado {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 155px;
    max-width: 155px;
}

img {
    max-width: inherit;
    width: inherit;
}
    </style>
    <br>
    <p style="color: white;">asdfasdfasdfasdf</p>
</html>