<div class="container-fluid p-1">
  <div class="row mx-auto">
    <div class="col-md-12">
      <div class="row">

        <div class="col-md-4">
         <center> <img alt="" src="log.jpeg" height="100px" width="500px" ></center>
        </div>
      </div>
    </div>

 <div class="row mx-auto " style="margin-bottom: 10px;">
    <center><p style="line-height: 5px;"><strong>RFC:</strong> GAVF871219GY8</p></center>
    <center><p style="line-height: 5px;"><strong>Fecha:</strong>--Algodefecha--</p></center>
    <center><p style="line-height: 5px;"><strong>Ticket No.</strong>--123--</p></center>
    <center><p style="line-height: 5px;">FerreMax El Boulevard Pino Suarez Local 3</p></center>
    <center><p style="line-height: 5px;"><strong>Vendedor:</strong>--Empleado--</p></center>
   <center> 
     <table class=" tabla-borderless table-striped" style="font-size:small; margin-left: 5px; color: #000000; text-transform: uppercase; width:550px; border-color: #dddddd;">
  <thead>
    <tr>
      <th>Cantidad</th>
      <th>Descripcion</th>
      <th>Precio</th>
      <th>Importe</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Tornillos de media pulgada, color rojo</td>
      <td>26.13</td>
      <td>26.13</td>
    </tr>
      </tbody>
</table>
</center>
<h6 align="right">Total Neto <u>$30.00</u></h6>
<h6 align="right" style="line-height: 5px;">Importe en pesos</h6>
<br>
<h6 align="right">Efectivo pesos</h6>
<h6 align="right">Cambio pesos</h6>

<center><p style="line-height: 5px;">Computadora:<strong>Ejemplo</strong></p></center>
<center><p style="line-height: 5px;">Folio Interno: Ejemplo</p></center>
<center><p style="line-height: 5px;"><strong>Gracias Por Su Compra</strong></p></center>
 

</div>

 <div class="row mx-auto ">
 

<div style="">
</div>


</div>
</div>
</div>
</div>
</div>