<style>
        body{
            background-image: url(https://images.unsplash.com/photo-1454117096348-e4abbeba002c?ixlib=rb-1.2.1);
        }
</style>
<div style="text-align:center;padding:1em 0;"> <h2><a style="text-decoration:none;" href="https://www.zeitverschiebung.net/es/city/3980194"><span style="color:gray;">Hora actual en</span><br />Ciudad de Villa de Álvarez, México</a></h2> <iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=es&size=large&timezone=America%2FMexico_City&show=hour_minute" width="100%" height="140" frameborder="0" seamless></iframe> </div>
    
    
<div>
    <label style="margin-left: 4px;" for="Empleado">Numero de Empleado</label>
    <input style="width: 98%;" min="1" max="99999" type="number" id="Empleado" class="form-control text-dark m-1">
    <center>
    <button style="margin-left: 4px;" class="btn btn-primary" onclick="comprobar()">Comprobar</button><br><br>
    <h4 style="margin-left: 4px;" id="Nombre"></h4>
    </center>
</div>

<br>
<center id="Canvas" style="display: none;">
<button style="margin-left: 4px;" class="btn btn-primary" id="start-camera">Iniciar Camera</button><br><br>
<video id="video" width="320" height="240" autoplay></video><br><br>
<button style="margin-left: 4px; display: none;" class="btn btn-primary" id="click-photo">Tomar Fotografia</button><br><br>
<canvas id="canvas" width="220" height="240"></canvas><br><br>
<button style="margin-left: 4px; display: none;" class="btn btn-danger" id="end-photo" onclick="fin()">Finalizar proceso</button><br><br><br>
</center>
<script>
let camera_button = document.querySelector("#start-camera");
let video = document.querySelector("#video");
let click_button = document.querySelector("#click-photo");
let canvas = document.querySelector("#canvas");
let finbtn = document.querySelector("#end-photo");

camera_button.addEventListener('click', async function() {
   	let stream = await navigator.mediaDevices.getUserMedia({ video: true, audio: false });
	video.srcObject = stream;
    console.log(video.width)
    console.log(video.height)
    click_button.style.display="block"
});

click_button.addEventListener('click', function() {
   	canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
   	let image_data_url = canvas.toDataURL('image/jpeg');

   	// data url of the image
   	console.log(image_data_url);
    finbtn.style.display="block"
});
function comprobar() {
    let id = document.getElementById("Empleado")
    let p = document.getElementById("Nombre")
    let can = document.getElementById("Canvas")
    if (id.value == 2022) {
        p.textContent="Hola Joel Magallon"
        can.style.display="block"
    } else{
        p.textContent="No se encontro el registro"

    }
    id.value=""
}
function fin() {
    alert("Registro exitoso de Joel Magallon")
    location.reload();
}
</script>
